<header class="action-bar">
	<!-- voltar href="javascript: void(0);" -->
	<a href="javascript: void(0);" class="app-icon action">
		<i class="icon-gdg"></i>
	</a>
	<h1 class="title">ACHE FÁCIL - Agenda</h1>
</header><!-- /header -->

<nav class="tab-fixed">
	<ul class="tab-inner">
			<li><a href="#/agenda" data-ignore="true"><i class="icon-view-as-list"></i></a></li>
			<li><a href="#/servicos"><i class="icon-group"></i></a> </li>
		</ul>
</nav>

<div class="content">
	<div class="app-content">
		<ul>
			<li id="empresa">
				<div class="empresa-img" style='background-image:url(img/empresas/{{empresa.thumbnailUrl}})'></div>
				<div class="empresa-info">
					<h1>{{empresa.name}} {{empresa.surname}}</h1>
					<p class="empresa-company"> {{empresa.company}} </p>
					<div class="bio"> {{empresa.bio}} </div>
					<a href="{{empresa.social[0].link}}" target="_system">Google+</a><br>
					<a href="{{empresa.social[1].link}}" target="_system">Twitter</a><br>
				</div>
				<div class="mapa">
					<iframe {{empresa.mapa}}"></iframe>
				</div>
			</li>
		</ul>
	</div>
</div>